main {
    max-width: 300px;
}

aside {
    width: 100%;
    margin: 1.5rem ;
    border: 1px ;
    padding: 1px;
    background-color: #fefefe;
    color: black;
}

aside img {
    width: 200px;
    height: auto;
    border: 1rem;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 2);
}

main img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
    border: 3px solid #0077cc;

}

p {
    padding: 0;
    font-size: 0.95rem;
    color: #333;
    line-height: 1.6;
}

nav, a{
    color: #0077cc;
    display: flex;
    padding: 0;
    background-color: gray; 
}

h1 {
    color: darkslategray;
}

footer {
    margin-top: auto;
    border-top: 0;
    text-align: center;
}